.navbar-font{
    font-size: 10px;
}

.navbar-font:hover{
    color: white;
}

.logo-details{
    /*background-color: darkgreen;*/
    padding: 0 100 0;
}

.homepage-form{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 500px;
}

.frontbody{
    height: 1300px;
    width: 100%;
    display: flex;
}

footer{
    width: 100%;
    height: 150px;
    background-color: red;
}

